# Virtual Environment
venv/
venv_path.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Data (since your data folder seems large)
data/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production